body {
    font-family: "Times New Roman", serif;
    padding: 20px;
    background-color: #fff;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

#button-container {
    display: flex;
    gap: 10px;
}

button {
    padding: 5px 15px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #777;
    border-radius: 3px;
    font-size: 16px;
}

button:hover {
    background-color: #e0e0e0;
}